 #pagination_controls {
    text-align: left;
    margin: 20px 0;
}

#pagination_controls input[type='button'] {
    background-color: #333333;
    color: #ffffff;
    border: 2px solid transparent;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    animation: borderGlow 1.5s infinite;
    transition: background-color 0.5s ease;
}

#pagination_controls input[type='button']:hover {
    background-color: #444444;
}

#pagination_controls input#pag_act {
    background-color:#f7f7f7; 
    color: black;
    cursor: default;
}

#pagination_controls input#btn_pag {
    font-weight: bold;
}

#pagination_controls input[type='button']:focus {
    outline: none;
}


@keyframes borderGlow {
    0% {
        border-color: #ffffff;
        box-shadow: 0 0 5px rgba(0, 255, 255, 1); 
    }
    50% {
        border-color: #00ffff;
        box-shadow: 0 0 5px rgba(0, 255, 255, 1);
    }
    100% {
        border-color: #ffffff;
        box-shadow: 0 0 50px rgba(255, 255, 255, 0);
    }
}
